# Copyright 2026 Datastrato, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# ADP Hypervisor Logging Configuration
#
# This file configures the Python logging system via logging.config.dictConfig.
# Copy this template to your runtime config directory as logging_conf.yaml and
# adjust the values to suit your environment.
#
# Usage:
#   cp conf/logging_conf.yaml.template <config-dir>/logging_conf.yaml
#
# The log level can also be overridden at startup with --log-level.

version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: "%(asctime)s [%(levelname)s] %(name)s: %(message)s"
    datefmt: "%Y-%m-%dT%H:%M:%S"

handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    stream: ext://sys.stderr

  file_handler:
    class: logging.handlers.RotatingFileHandler
    formatter: standard
    filename: ./hypervisor-logs/hypervisor.log
    maxBytes: 10485760   # 10 MB
    backupCount: 5
    encoding: utf-8

root:
  level: INFO
  handlers:
    - console
    - file_handler
